.m-accordion{

}
.m-accordion .acc-item{
    margin-bottom: 3px;
}

.m-accordion .trigger{
    text-decoration: none;
    display: block;
    line-height: 30px;
    text-indent: 5px;
}
.m-accordion .trigger:before{
    font-family: IconMetro;
    content: '\f105';
    color:black;
    font-weight: bold;
}
.m-accordion .active .trigger:before{
    font-family: IconMetro;
    content: '\f107';
    color:black
}
.m-accordion .acc-content{
    padding: 5px;
}
.m-accordion .acc-item div{
    display: none;
}
.m-accordion .active div{
    display: block;
}
.m-accordion .active a{
    font-weight: bold;
}