/*TODO :before :after --> padding-left, padding-right*/
/*======字体/图标======*/
@font-face {
    font-family: 'IconMetro';
    src: url('../font/IconMetro.eot');
    src: url('../font/IconMetro.eot?#iefix') format('embedded-opentype'),
    /*url('../font/IcoMetro.svg#IcoMetro') format('svg'),*/
    url('../font/IconMetro.woff') format('woff'),
    url('../font/IconMetro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
[class*="icon-font"]{
    font-family: "IconMetro",sans-serif;
}
[data-icon]:before{
    font-family: IconMetro;
    margin-right: 3px;
    content: attr(data-icon);
    font-style: normal;
    font-weight: normal;
}


/*======CSS Reset======*/
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI Light","Segoe UI", "Microsoft YaHei",Verdana, Arial, Helvetica, sans-serif;
    /*font-family: "Segoe UI Light", "Microsoft YaHei", sans-serif;*/
    font-weight: 100!important;
    font-size: 15px;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 5px 0;
    font-weight: 100;
}
h1{
    font-size: 25px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 19px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 17px;
}
h6{
    font-size: 16px;
}

a,a:active,a:hover{
    outline: none;
    text-decoration: none;
}

img{
    border: 0;
}

ul,ol,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li,ol li{
    list-style-position: inside!important;
}
ul.square li{
    list-style: square;
}

ol li{
    list-style: decimal;
    /*list-style-position: inside;*/
}
ol.leading-zero li{
    list-style: decimal-leading-zero;
}
code,pre{
    font-size: 13px;
    font-family: Monaco,Consolas,serif;
}
code{
    display: inline;
    border: 1px #e5e5e5 solid;
    background: #f9f9f9;
    color: #d14;
}
pre{
    border: 1px solid lightgray;
    background: #F1F1F1;
    padding: 5px;
}
small{
    font-size: 75%;
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
sub,sup {
    font-size: 0.5em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
blockquote{
    margin: 0;
    padding: 5px 15px;
    border-left: 4px #ccc solid;
    display: block;
    background: #F1F1F1;
}
blockquote small:before{
    content: "--";
}
cite{
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input{
    outline: none;
}

/*======边距控制======*/
.w100{
    width: 100%;
}
.m10{
    margin: 10px!important;
}
.mr10{
    margin-right: 10px!important;
}
.ml10{
    margin-left: 10px!important;
}
.mt10{
    margin-top: 10px!important;
}
.mb10{
    margin-bottom: 10px!important;
}
.p10{
    padding: 10px!important;
}
.pr10{
    padding-right: 10px!important;
}
.pl10{
    padding-left: 10px!important;
}
.pt10{
    padding-top: 10px!important;
}
.pb10{
    padding-bottom: 10px!important;
}
.m5{
    margin: 5px!important;
}
.mr5{
    margin-right: 5px!important;
}
.ml5{
    margin-left: 5px!important;
}
.mt5{
    margin-top: 5px!important;
}
.mb5{
    margin-bottom: 5px!important;
}
.m0{
    margin: 0px!important;
}
.mr0{
    margin-right: 0px!important;
}
.ml0{
    margin-left: 0px!important;
}
.mt0{
    margin-top: 0px!important;
}
.mb0{
    margin-bottom: 0px!important;
}
.p5{
    padding: 5px!important;
}
.pr5{
    padding-right: 5px!important;
}
.pl5{
    padding-left: 5px!important;
}
.pt5{
    padding-top: 5px!important;
}
.pb5{
    padding-bottom: 5px!important;
}
.p0{
    padding: 0px!important;
}
.pr0{
    padding-right: 0px!important;
}
.pl0{
    padding-left: 0px!important;
}
.pt0{
    padding-top: 0px!important;
}
.pb0{
    padding-bottom: 0px!important;
}




/*======文字控制======*/
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.tdn{
    text-decoration: none;
}
.fs-normal{
    font-size: 15px;
}
.fs-s{
    font-size: 13px;
}
.fs-m{
    font-size: 25px;
}
.fs-l{
    font-size: 36px;
}
.fs-lx{
    font-size: 42px;
}
.fs-l,.fs-m,.fs-normal,.fs-s,
.lh-100{
    line-height: 100%;
}
.lh-110{
    line-height: 110%;
}
.lh-120{
    line-height: 120%;
}
.lh-130{
    line-height: 130%;
}
.lh-140{
    line-height: 140%;
}
.lh-150{
    line-height: 150%;
}

.ta-center{
    text-align: center;
}
.ta-left{
    text-align: left;
}
.ta-right{
    text-align: right;
}

/*======位置/浮动控制======*/
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.ps{
    position: static;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clr{
    clear: both;
}
/*======颜色控制======*/
/*==背景色==*/
.bg-transparent{
    background: transparent!important;
}
.bg-magenta {
    background: #FF0097!important;
}
.bg-purple {
    background: #6E155F!important;
}
.bg-teal {
    background: #4EB3B9!important;
}
.bg-lime {
    background:#96B232!important;
}
.bg-brown {
    background:#A05000!important;
}
.bg-pink {
    background:#E671B8!important;
}
.bg-orange {
    background:#DE9317!important;
}
.bg-blue {
    background:#1BA1E2!important;
}
.bg-darkblue{
    background:#00828b!important;
}
.bg-red {
    background:#E51400!important;
}
.bg-darkred {
    background: #b91d47!important;
}
.bg-green {
    background:#00a300!important;
}
.bg-marine {
    background:#034888!important;
}
.bg-gray {
    background:gray!important;
}
.bg-lightgray {
    background:lightgray!important;
}
.bg-bluelight{
    background: #eff4ff!important;
}
.bg-white {
    background: white!important;
}
.bg-black {
    background: black!important;
}
.bg-info{
    background:#00a300!important;
}
.bg-warn{
    background:#e3a21a !important;
}
.bg-important{
    background:#b91d47 !important;
}
/*==前景色==*/
.fg-transparent{
    color:transparent!important;
}
.fg-magenta {
    color: #FF0097!important;
}
.fg-purple {
    color: #6E155F!important;
}
.fg-teal {
    color: #4EB3B9!important;
}
.fg-lime {
    color:#96B232!important;
}
.fg-brown {
    color:#A05000!important;
}
.fg-pink {
    color:#E671B8!important;
}
.fg-orange {
    color:#DE9317!important;
}
.fg-blue {
    color:#1BA1E2!important;
}
.fg-darkblue{
    color:#00828b!important;
}
.fg-red {
    color:#E51400!important;
}
.fg-darkred{
    color: #b91d47!important;
}
.fg-green {
    color:#00a300!important;
}
.fg-marine {
    color:#034888!important;
}
.fg-gray {
    color:gray!important;
}
.fg-lightgray {
    color:lightgray!important;
}
.fg-bluelight{
    color: #eff4ff!important;
}
.fg-white {
    color:white!important;
}
.fg-black {
    color:black!important;
}
.fg-info{
    color:#00a300!important;
}
.fg-warn{
    color:orange!important;
}
.fg-important{
    color:#b91d47!important;
}
/*==边框色==*/
.bd-transparent{
    border-color: transparent!important;
}
.bd-magenta {
    border-color: #FF0097!important;
}
.bd-purple {
    border-color: #6E155F!important;
}
.bd-teal {
    border-color: #4EB3B9!important;
}
.bd-border-color-lime {
    border-color: #96B232!important;
}
.bd-brown {
    border-color: #A05000!important;
}
.bd-pink {
    border-color: #E671B8!important;
}
.bd-orange {
    border-color: #DE9317!important;
}
.bd-blue {
    border-color: #1BA1E2!important;
}
.bd-darkblue{
    border-color: #00828b!important;
}
.bd-red {
    border-color: #E51400!important;
}
.bd-darkred{
    border-color: #b91d47!important;
}
.bd-green {
    border-color: #00a300!important;
}
.bd-marine {
    border-color: #034888!important;
}
.bd-gray {
    border-color: gray!important;
}
.bd-lightgray {
    border-color: lightgray!important;
}
.bd-bluelight{
    border-color: #eff4ff!important;
}
.bd-white {
    border-color: white!important;
}
.bd-black {
    border-color: black!important;
}
.bd-info{
    border-color: #00a300!important;
}
.bd-warn{
    border-color: orange!important;
}
.bd-error{
    border-color: #b91d47!important;
}

/*======边框控制======*/
.b0{
    border: 0;
}
.b1{
    border-width: 1px;
    border-style: solid;
}
.b2{
    border-width: 2px;
    border-style: solid;
}
.b3{
    border-width: 3px;
    border-style: solid;
}
.b4{
    border-width: 4px;
    border-style: solid;
}
.b5{
    border-width: 5px;
    border-style: solid;
}
.bt0,
.bb0,
.bl0,
.br0{
    border-width: 0;
}
.solid{
    border-style: solid!important;
}
.dashed{
    border-style: dashed!important;
}

/*======显示形式控制======*/
.oh{
    overflow: hidden;
}
.ov{
    overflow: visible;
}
.oa{
    overflow: auto;
}
.os{
    overflow: scroll;
}
.show,.disb{
    display: block;
}
.hide{
    display: none;
}
.disib{
    display: inline-block;
}
.disi{
    display: inline;
}
.vv{
    visibility: visible;
}
.vh{
    visibility: hidden;
}


/*======清除浮动======*/
.clearfix:after{
    content: ' ';
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

/*.ie6 .clearfix{
    height: 1%
}
.ie7 .clearfix{
    min-height: 1%
}*/

/*======loading icon======*/
.loading{
    position: absolute;
    left: 50%;
    top: 50%;
}
.loading.small{
    background: url(../images/loading.small.gif) no-repeat;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
}
.loading.middle{
    background: url(../images/loading.middle.gif) no-repeat;
    width: 64px;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
}
.loading.large{
    background: url(../images/loading.large.gif) no-repeat;
    width: 128px;
    height: 128px;
    margin-left: -64px;
    margin-top: -64px;
}
.loading-w.small{
    background: url(../images/loading.w.small.gif) no-repeat;
    width: 128px;
    height: 12px;
    top: -6px;
    left: -64px;
}.loading-w.large{
    background: url(../images/loading.w.large.gif) no-repeat;
    width: 220px;
    height: 20px;
    top: -10px;
    left: -110px;
}