/*TODO :before :after --> padding-left, padding-right*/

@font-face {
    font-family: 'IconMetro';
    src: url('../font/IconMetro.eot');
    src: url('../font/IconMetro.eot?#iefix') format('embedded-opentype'),
    /*url('../font/IcoMetro.svg#IcoMetro') format('svg'),*/
    url('../font/IconMetro.woff') format('woff'),
    url('../font/IconMetro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*==CSS Reset==*/
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI Light","Segoe UI", "Microsoft YaHei",Verdana, Arial, Helvetica, sans-serif;
    /*font-family: "Segoe UI Light", "Microsoft YaHei", sans-serif;*/
    font-weight: 100!important;
    font-size: 15px;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0 0 10px 0;
    font-weight: 100;
}
h1{
    font-size: 25px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 19px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 17px;
}
h6{
    font-size: 16px;
}

a,a:active,a:hover{
    outline: none;
    text-decoration: none;
}

img{
    border: 0;
}

ul,ol,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li,ol li{
    list-style-position: inside!important;
}
ul.square li{
    list-style: square;
}

ol li{
    list-style: decimal;
    /*list-style-position: inside;*/
}
ol.leading-zero li{
    list-style: decimal-leading-zero;
}
code,pre{
    font-size: 13px;
    font-family: Monaco,Consolas,serif;
}
code{
    display: inline;
    border: 1px #e5e5e5 solid;
    background: #f9f9f9;
    color: #d14;
}
pre{
    border: 1px solid lightgray;
    background: #F1F1F1;
    padding: 5px;
}
small{
    font-size: 75%;
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
sub,sup {
    font-size: 0.5em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
blockquote{
    margin: 0;
    padding: 5px 15px;
    border-left: 4px #ccc solid;
    display: block;
    background: #F1F1F1;
}
blockquote small:before{
    content: "--";
}
cite{
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.mr10{
    margin-right: 10px!important;
}
.ml10{
    margin-left: 10px!important;
}
.mt10{
    margin-top: 10px!important;
}
.mb10{
    margin-bottom: 10px!important;
}
.p10{
    padding: 10px;
}
.pr10{
    padding-right: 10px;
}
.pl10{
    padding-left: 10px;
}
.pt10{
    padding-top: 10px;
}
.pb10{
    padding-bottom: 10px;
}

.w960{
    width: 960px;
}
.w980{
    width: 980px;
}
.w1000{
    width: 1000px;
}
.w100{
    width: 100%;
}
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.bold{
    font-weight: bold;
}
/*==背景色==*/
.bg-color-magenta {
    background: #FF0097!important;
}
.bg-color-purple {
    background: #6E155F!important;
}
.bg-color-teal {
    background: #4EB3B9!important;
}
.bg-color-lime {
    background:#96B232!important;
}
.bg-color-brown {
    background:#A05000!important;
}
.bg-color-pink {
    background:#E671B8!important;
}
.bg-color-orange {
    background:#DE9317!important;
}
.bg-color-blue {
    background:#1BA1E2!important;
}
.bg-color-darkblue{
    background:#00828b!important;
}
.bg-color-red {
    background:#E51400!important;
}
.bg-color-darkred {
    background: #b91d47!important;
}
.bg-color-green {
    background:#00a300!important;
}
.bg-color-marine {
    background:#034888!important;
}
.bg-color-gray {
    background:gray!important;
}
.bg-color-lightgray {
    background:lightgray!important;
}
.bg-color-bluelight{
    background: #eff4ff!important;
}
.bg-color-white {
    background: white!important;
}
.bg-color-black {
    background: black!important;
}
.bg-color-info{
    background:#00a300!important;
}
.bg-color-warn{
    background:#e3a21a !important;
}
.bg-color-important{
    background:#b91d47 !important;
}
/*==前景色==*/
.fg-color-magenta {
    color: #FF0097!important;
}
.fg-color-purple {
    color: #6E155F!important;
}
.fg-color-teal {
    color: #4EB3B9!important;
}
.fg-color-lime {
    color:#96B232!important;
}
.fg-color-brown {
    color:#A05000!important;
}
.fg-color-pink {
    color:#E671B8!important;
}
.fg-color-orange {
    color:#DE9317!important;
}
.fg-color-blue {
    color:#1BA1E2!important;
}
.fg-color-darkblue{
    color:#00828b!important;
}
.fg-color-red {
    color:#E51400!important;
}
.fg-color-darkred{
    color: #b91d47!important;
}
.fg-color-green {
    color:#00a300!important;
}
.fg-color-marine {
    color:#034888!important;
}
.fg-color-gray {
    color:gray!important;
}
.fg-color-lightgray {
    color:lightgray!important;
}
.fg-color-bluelight{
    color: #eff4ff!important;
}
.fg-color-white {
    color:white!important;
}
.fg-color-black {
    color:black!important;
}
.fg-color-info{
    color:#00a300!important;
}
.fg-color-warn{
    color:orange!important;
}
.fg-color-important{
    color:#b91d47!important;
}
/*==边框色==*/
.bd-color-magenta {
    border: 1px solid #FF0097!important;
}
.bd-color-purple {
    border: 1px solid #6E155F!important;
}
.bd-color-teal {
    border: 1px solid #4EB3B9!important;
}
.bd-border-color-lime {
    border: 1px solid #96B232!important;
}
.bd-color-brown {
    border: 1px solid #A05000!important;
}
.bd-color-pink {
    border: 1px solid #E671B8!important;
}
.bd-color-orange {
    border: 1px solid #DE9317!important;
}
.bd-color-blue {
    border: 1px solid #1BA1E2!important;
}
.bd-color-darkblue{
    border: 1px solid #00828b!important;
}
.bd-color-red {
    border: 1px solid #E51400!important;
}
.bd-color-darkred{
    border: 1px solid #b91d47!important;
}
.bd-color-green {
    border: 1px solid #00a300!important;
}
.bd-color-marine {
    border: 1px solid #034888!important;
}
.bd-color-gray {
    border: 1px solid gray!important;
}
.bd-color-lightgray {
    border: 1px solid lightgray!important;
}
.bd-color-bluelight{
    border: 1px solid #eff4ff!important;
}
.bd-color-white {
    border: 1px solid white!important;
}
.bd-color-black {
    border: 1px solid black!important;
}
.bd-color-info{
    border: 1px solid #00a300!important;
}
.bd-color-warn{
    border: 1px solid orange!important;
}
.bd-color-error{
    border: 1px solid #b91d47!important;
}

.oh{
    overflow: hidden;
}
.show{
    display: block;
}
.hide{
    display: none;
}

.clearfix:after{
    content: ' ';
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.ie6 .clearfix{
    height: 1%
}
.ie7 .clearfix{
    min-height: 1%
}

[class*="icon-font"]{
    font-family: "IconMetro",sans-serif;
}
[data-icon]:before{
    font-family: IconMetro;
    margin-right: 3px;
    content: attr(data-icon);
    font-style: normal;
    font-weight: normal;
}

.loading{
    position: absolute;
    left: 50%;
    top: 50%;
}
.loading.small{
    background: url(../images/loading.small.gif) no-repeat;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
}
.loading.middle{
    background: url(../images/loading.middle.gif) no-repeat;
    width: 64px;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
}
.loading.large{
    background: url(../images/loading.large.gif) no-repeat;
    width: 128px;
    height: 128px;
    margin-left: -64px;
    margin-top: -64px;
}
.loading-w.small{
    background: url(../images/loading.w.small.gif) no-repeat;
    width: 128px;
    height: 12px;
    top: -6px;
    left: -64px;
}.loading-w.large{
    background: url(../images/loading.w.large.gif) no-repeat;
    width: 220px;
    height: 20px;
    top: -10px;
    left: -110px;
}