
html,body{
    /*height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;*/
    background: slateblue;
    /*margin: 0;
    padding: 0;*/
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
.m-group-double{
    width: 1040px;
    height: 520px;
    margin-right: 50px;
}
.m-group{
    width: 520px;
    height: 520px;
    margin-right: 50px;
}
[class*=m-group]:last-child{
    margin-right: 0;
}

/*==头部样==*/
.m-header{
    height: 80px;
    line-height: 80px;
}
h1.start{
    font-size: 50px;
}
h2.user-info{
    font-size: 28px;
}
.user-face{
    width: 40px;
    height: 40px;
    top: 10px;
}

/*.icon-f{
    font-family: "IconMetro",sans-serif;
}*/
.icon-font{
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    display: block;
}
.m-content{
    overflow: hidden;
}
.m-content li{
    margin: 5px;
    float: left;
}
.ie6 .m-content li{
    display: inline;
}
.m-content-wraper{
    width: 3320px;
}
.ie6 .m-content-wraper,.ie7 .m-content-wraper,.ie8 .m-content-wraper{
    width: 3370px;
}
.m-container{
    height: 540px;
    width: 100%;
}

/*==底部样式==*/
footer.m-footer{
    left: 0;
    bottom: 0;
    height: 20px;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    width: 100%;
    text-align: right;
    text-indent: 10px;
}