.m-listview{
    -webkit-column-width:300px;
    -moz-column-width:300px;
    -ms-column-width:300px;
    -o-column-width:300px;
    column-width:300px;
    -webkit-column-gap:5px;
    -moz-column-gap:5px;
    -ms-column-gap:5px;
    -o-column-gap:5px;
    -moz-column-gap:5px;
    column-gap:5px;
    writing-mode: tb-lr;
    *white-space:nowrap;
    height: 100%;
}
.m-listview li{
    height: 52px;
    width: 282px;
    padding: 5px;
    margin: 5px;
    writing-mode: lr-tb;
    display: inline-block;
    border: 4px solid transparent;
}
.m-listview li.selected{
    border: 4px solid #09F;
    position: relative;
}
.m-listview li.selected:after{
    content: "";
    position: absolute;
    z-index: 0;
    width: 0;
    border-top: 15px #09F solid;
    border-right: 15px #09F solid;
    border-left: 15px transparent dashed;
    border-bottom: 15px transparent dashed;
    top: 0;
    right: 0;
}
.m-listview li.selected:before{
    font-family: IconMetro;
    content: "\e007";
    position: absolute;
    z-index: 1;
    top: -1px;
    right: -1px;
}
.m-listview-title{
    line-height: 19px;
}
.m-listview-data{
    float: right;
    width: 220px;
    height: 50px;
}
.m-listview li p{
    font-size: 13px;
}
.m-listview li img.listview-icon{
    width: 48px;
    height: 48px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}
.m-listview li:hover{
    outline: 3px solid #CCC;
}