.m-listview{
    /*-webkit-column-width:290px;
    -moz-column-width:290px;
    -ms-column-width:290px;
    -o-column-width:290px;
    column-width:290px;
    -webkit-column-gap:5px;
    -moz-column-gap:5px;
    -ms-column-gap:5px;
    -o-column-gap:5px;
    -moz-column-gap:5px;
    column-gap:5px;
    writing-mode: tb-lr;
    *white-space:nowrap;
    height: 100%;*/
}
.m-listview li{
    height: 70px;
    width: 280px;
    padding: 5px;
    margin: 5px;
    /*writing-mode: lr-tb;*/
    display: inline-block;
    border: 4px solid transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.m-listview li.selected{
    border: 4px solid #09F;
    position: relative;
}
.m-listview li.selected:after{
    content: "";
    position: absolute;
    z-index: 0;
    width: 0;
    border-top: 15px #09F solid;
    border-right: 15px #09F solid;
    border-left: 15px transparent solid;
    border-bottom: 15px transparent solid;
    top: 0;
    right: 0;
}
.m-listview li.selected:before{
    font-family: IconMetro;
    content: "\e007";
    position: absolute;
    z-index: 1;
    top: -1px;
    right: -1px;
}
.m-listview-title{
    line-height: 19px;
}
.m-listview-data{
    height: 50px;
    margin-left: 60px;
}
.m-listview li p{
    font-size: 13px;
}
.m-listview li img.listview-icon{
    width: 48px;
    height: 48px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}
.m-listview li:hover{
    outline: 3px solid #CCC;
}

@media screen and (max-width:480px){
    .m-listview li{
        width: 100%;
        margin: 5px 0;
    }
}