.tile-double{
    width: 250px;
    height: 120px;
    overflow: hidden;
    position: relative;
    color: white;
}
.tile{
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    color: white;
}
.tile:hover, .tile-double:hover{
    outline: 3px #225a68 solid
}
.tile a,.tile-double a{
    display: block;
    position: relative;
    height: 100px;
    width: 230px;
    color: white;
    text-decoration: none;
    overflow: hidden;
}
.tile a{
    width: 100px;
}
.tile-content{
    display: block;
    height: 85px;
    padding: 10px;
}
.tile-content img{
    width: 120%;
    height: auto;
    margin-top: -10px;
    margin-left: -10px;
}
.icon-img{
    display: block;
    text-align: center;
}
.icon-img img{
    width: 60px;
    height: 60px;
    position: relative;
    margin:0;
    top: 10px;
}
.tile-title{
    display: block;
    text-align: left;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    z-index: 0;
}

.tile-title-icon {
    font-size: 30px;
    margin-left: 5px;
}
.tile-title-icon img{
    width: 30px;
    height: 30px;
}
.tile-count{
    position: absolute;
    bottom: 0;
    right:5px;
    padding: 5px 5px 5px 20px;
    z-index: 0;
    font-weight: bold;
}