.tile_double{
    width: 250px;
    height: 120px;
    overflow: hidden;
    position: relative;
    color: white;
}
.tile{
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    color: white;
}
.tile:hover, .tile_double:hover{
    outline: 3px #225a68 solid
}
.tile a,.tile_double a{
    display: block;
    position: relative;
    height: 100px;
    width: 230px;
    color: white;
    text-decoration: none;
    overflow: hidden;
}
.tile a{
    width: 100px;
}
.tile_content{
    display: block;
    height: 85px;
    padding: 10px;
}
.tile_content img{
    width: 60px;
    height: 60px;
    position: relative;
    top: 5px;
}
.tile_title{
    display: block;
    text-align: left;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    z-index: 0;
}
.title_title_icon{
    font-size: 30px;
    margin-left: 5px;
}
.title_title_icon img{
    width: 30px;
    height: 30px;
}
.tile_count{
    position: absolute;
    bottom: 0;
    right:5px;
    padding: 5px 5px 5px 20px;
    z-index: 0;
}
.tile_desktop{
    background: url(../images/desktop.png) 50% 50% no-repeat;
    background-size: cover;
}