@font-face {
	font-family: 'IconMetro';
	src:url('IconMetro.eot');
	src:url('IconMetro.eot?#iefix') format('embedded-opentype'),
		url('IconMetro.woff') format('woff'),
		url('IconMetro.ttf') format('truetype'),
		url('IconMetro.svg#IconMetro') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IconMetro';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="m-icon-"] {
*/
.m-icon-home, .m-icon-office, .m-icon-newspaper, .m-icon-pencil, .m-icon-droplet, .m-icon-image, .m-icon-image-2, .m-icon-images, .m-icon-headphones, .m-icon-play, .m-icon-film, .m-icon-camera, .m-icon-dice, .m-icon-pacman, .m-icon-spades, .m-icon-clubs, .m-icon-diamonds, .m-icon-book, .m-icon-books, .m-icon-file, .m-icon-file-2, .m-icon-copy, .m-icon-copy-2, .m-icon-paste, .m-icon-paste-2, .m-icon-paste-3, .m-icon-stack, .m-icon-folder, .m-icon-folder-open, .m-icon-tag, .m-icon-tags, .m-icon-barcode, .m-icon-qrcode, .m-icon-ticket, .m-icon-cart, .m-icon-cart-2, .m-icon-cart-3, .m-icon-coin, .m-icon-credit, .m-icon-calculate, .m-icon-support, .m-icon-phone, .m-icon-phone-hang-up, .m-icon-address-book, .m-icon-notebook, .m-icon-envelop, .m-icon-location, .m-icon-location-2, .m-icon-compass, .m-icon-map, .m-icon-map-2, .m-icon-clock, .m-icon-clock-2, .m-icon-alarm, .m-icon-stopwatch, .m-icon-calendar, .m-icon-calendar-2, .m-icon-print, .m-icon-keyboard, .m-icon-download, .m-icon-upload, .m-icon-disk, .m-icon-flip, .m-icon-flip-2, .m-icon-bubble, .m-icon-bubbles, .m-icon-bubbles-2, .m-icon-bubble-2, .m-icon-bubbles-3, .m-icon-bubbles-4, .m-icon-user, .m-icon-user-2, .m-icon-quotes-left, .m-icon-busy, .m-icon-spinner, .m-icon-spinner-2, .m-icon-binoculars, .m-icon-expand, .m-icon-contract, .m-icon-key, .m-icon-key-2, .m-icon-lock, .m-icon-unlocked, .m-icon-wrench, .m-icon-settings, .m-icon-equalizer, .m-icon-cog, .m-icon-cogs, .m-icon-cog-2, .m-icon-hammer, .m-icon-wand, .m-icon-pie, .m-icon-stats, .m-icon-bars, .m-icon-fire, .m-icon-lab, .m-icon-magnet, .m-icon-remove, .m-icon-remove-2, .m-icon-briefcase, .m-icon-airplane, .m-icon-truck, .m-icon-road, .m-icon-accessibility, .m-icon-target, .m-icon-lightning, .m-icon-switch, .m-icon-power-cord, .m-icon-signup, .m-icon-tree, .m-icon-cloud, .m-icon-cloud-download, .m-icon-cloud-upload, .m-icon-download-2, .m-icon-upload-2, .m-icon-download-3, .m-icon-upload-3, .m-icon-globe, .m-icon-earth, .m-icon-link, .m-icon-flag, .m-icon-attachment, .m-icon-eye, .m-icon-eye-blocked, .m-icon-eye-2, .m-icon-bookmark, .m-icon-bookmarks, .m-icon-brightness-medium, .m-icon-brightness-contrast, .m-icon-contrast, .m-icon-star, .m-icon-star-2, .m-icon-star-3, .m-icon-thumbs-up, .m-icon-thumbs-up-2, .m-icon-warning, .m-icon-notification, .m-icon-info, .m-icon-info-2, .m-icon-blocked, .m-icon-cancel-circle, .m-icon-checkmark-circle, .m-icon-enter, .m-icon-exit, .m-icon-play-2, .m-icon-pause, .m-icon-stop, .m-icon-backward, .m-icon-forward, .m-icon-volume-high, .m-icon-volume-medium, .m-icon-volume-low, .m-icon-volume-mute, .m-icon-volume-mute-2, .m-icon-volume-increase, .m-icon-volume-decrease, .m-icon-arrow-up-left, .m-icon-arrow-up, .m-icon-arrow-up-right, .m-icon-arrow-right, .m-icon-arrow-down-right, .m-icon-arrow-down, .m-icon-arrow-down-left, .m-icon-arrow-left, .m-icon-checkbox-checked, .m-icon-checkbox-unchecked, .m-icon-checkbox-partial, .m-icon-radio-checked, .m-icon-radio-unchecked, .m-icon-crop, .m-icon-scissors, .m-icon-filter, .m-icon-filter-2, .m-icon-font, .m-icon-text-height, .m-icon-text-width, .m-icon-bold, .m-icon-underline, .m-icon-italic, .m-icon-strikethrough, .m-icon-omega, .m-icon-sigma, .m-icon-table, .m-icon-table-2, .m-icon-insert-template, .m-icon-left-to-right, .m-icon-right-to-left, .m-icon-new-tab, .m-icon-embed, .m-icon-code, .m-icon-console, .m-icon-share, .m-icon-google, .m-icon-google-plus, .m-icon-google-plus-2, .m-icon-google-plus-3, .m-icon-google-plus-4, .m-icon-google-drive, .m-icon-facebook, .m-icon-facebook-2, .m-icon-facebook-3, .m-icon-instagram, .m-icon-twitter, .m-icon-twitter-2, .m-icon-twitter-3, .m-icon-feed, .m-icon-feed-2, .m-icon-feed-3, .m-icon-youtube, .m-icon-youtube-2, .m-icon-vimeo, .m-icon-vimeo2, .m-icon-vimeo-2, .m-icon-lanyrd, .m-icon-flickr, .m-icon-flickr-2, .m-icon-flickr-3, .m-icon-flickr-4, .m-icon-picassa, .m-icon-picassa-2, .m-icon-dribbble, .m-icon-dribbble-2, .m-icon-dribbble-3, .m-icon-forrst, .m-icon-forrst-2, .m-icon-deviantart, .m-icon-deviantart-2, .m-icon-steam, .m-icon-steam-2, .m-icon-github, .m-icon-github-2, .m-icon-github-3, .m-icon-github-4, .m-icon-github-5, .m-icon-wordpress, .m-icon-wordpress-2, .m-icon-joomla, .m-icon-blogger, .m-icon-blogger-2, .m-icon-tumblr, .m-icon-tumblr-2, .m-icon-yahoo, .m-icon-tux, .m-icon-apple, .m-icon-finder, .m-icon-android, .m-icon-windows, .m-icon-windows8, .m-icon-soundcloud, .m-icon-soundcloud-2, .m-icon-skype, .m-icon-reddit, .m-icon-linkedin, .m-icon-lastfm, .m-icon-lastfm-2, .m-icon-delicious, .m-icon-stumbleupon, .m-icon-stumbleupon-2, .m-icon-stackoverflow, .m-icon-pinterest, .m-icon-pinterest-2, .m-icon-xing, .m-icon-xing-2, .m-icon-flattr, .m-icon-foursquare, .m-icon-foursquare-2, .m-icon-paypal, .m-icon-paypal-2, .m-icon-paypal-3, .m-icon-yelp, .m-icon-libreoffice, .m-icon-file-pdf, .m-icon-file-openoffice, .m-icon-file-word, .m-icon-file-excel, .m-icon-file-zip, .m-icon-file-powerpoint, .m-icon-file-xml, .m-icon-file-css, .m-icon-html5, .m-icon-html5-2, .m-icon-css3, .m-icon-chrome, .m-icon-firefox, .m-icon-IE, .m-icon-opera, .m-icon-safari, .m-icon-phone-2, .m-icon-mobile, .m-icon-directions, .m-icon-mail, .m-icon-paperplane, .m-icon-feather, .m-icon-paperclip, .m-icon-reply, .m-icon-reply-all, .m-icon-forward-2, .m-icon-vcard, .m-icon-export, .m-icon-map-3, .m-icon-compass-2, .m-icon-location-3, .m-icon-target-2, .m-icon-share-2, .m-icon-sharable, .m-icon-heart, .m-icon-heart-2, .m-icon-chat, .m-icon-comment, .m-icon-quote, .m-icon-popup, .m-icon-search, .m-icon-printer, .m-icon-link-2, .m-icon-flag-2, .m-icon-cog-3, .m-icon-tools, .m-icon-tag-2, .m-icon-camera-2, .m-icon-megaphone, .m-icon-moon, .m-icon-palette, .m-icon-leaf, .m-icon-music, .m-icon-music-2, .m-icon-graduation, .m-icon-airplane-2, .m-icon-eye-3, .m-icon-clock-3, .m-icon-microphone, .m-icon-calendar-3, .m-icon-bolt, .m-icon-thunder, .m-icon-cd, .m-icon-briefcase-2, .m-icon-battery, .m-icon-bucket, .m-icon-suitcase, .m-icon-earth-2, .m-icon-keyboard-2, .m-icon-browser, .m-icon-publish, .m-icon-progress-3, .m-icon-progress-2, .m-icon-brogress-1, .m-icon-progress-0, .m-icon-sun, .m-icon-sun-2, .m-icon-adjust, .m-icon-code-2, .m-icon-screen, .m-icon-infinity, .m-icon-light-bulb, .m-icon-credit-card, .m-icon-voicemail, .m-icon-cart-4, .m-icon-rss, .m-icon-signal, .m-icon-statistics, .m-icon-pie-2, .m-icon-bars-2, .m-icon-graph, .m-icon-lock-2, .m-icon-lock-open, .m-icon-minus, .m-icon-plus, .m-icon-cross, .m-icon-minus-2, .m-icon-plus-2, .m-icon-cross-2, .m-icon-erase, .m-icon-blocked-2, .m-icon-info-3, .m-icon-info-4, .m-icon-question, .m-icon-help, .m-icon-warning-2, .m-icon-cycle, .m-icon-cw, .m-icon-ccw, .m-icon-history, .m-icon-disk-2, .m-icon-install, .m-icon-play-3, .m-icon-pause-2, .m-icon-record, .m-icon-stop-2, .m-icon-next, .m-icon-previous, .m-icon-first, .m-icon-last, .m-icon-arrow-left-2, .m-icon-arrow-down-2, .m-icon-arrow-up-2, .m-icon-arrow-right-2, .m-icon-ellipsis, .m-icon-dots, .m-icon-dot, .m-icon-pinterest-3, .m-icon-qq, .m-icon-evernote, .m-icon-renren, .m-icon-sina-weibo, .m-icon-skype-2, .m-icon-smashing, .m-icon-checkmark, .m-icon-x, .m-icon-plus-alt, .m-icon-minus-alt, .m-icon-check-alt, .m-icon-x-altx-alt, .m-icon-plus-3, .m-icon-minus-3, .m-icon-eject, .m-icon-pilcrow, .m-icon-upload-4, .m-icon-star-4, .m-icon-star-5, .m-icon-lifebuoy, .m-icon-arrow-left-3, .m-icon-arrow-right-3, .m-icon-arrow-up-3, .m-icon-arrow-down-3, .m-icon-caret-down, .m-icon-caret-up, .m-icon-caret-left, .m-icon-caret-right, .m-icon-double-angle-left, .m-icon-double-angle-right, .m-icon-double-angle-up, .m-icon-double-angle-down, .m-icon-angle-left, .m-icon-angle-right, .m-icon-angle-up, .m-icon-sort, .m-icon-sort-down, .m-icon-sort-up, .m-icon-angle-down, .m-icon-plus-4, .m-icon-minus-4, .m-icon-chevron-left, .m-icon-chevron-right, .m-icon-chevron-up, .m-icon-chevron-down, .m-icon-spinner-3, .m-icon-user-3, .m-icon-users, .m-icon-user-add, .m-icon-screen-2, .m-icon-laptop, .m-icon-mobile-2, .m-icon-mobile-3, .m-icon-tablet, .m-icon-pawn, .m-icon-fullscreen {
	font-family: 'IconMetro';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.m-icon-home:before {
	content: "\e001";
}
.m-icon-office:before {
	content: "\e003";
}
.m-icon-newspaper:before {
	content: "\e004";
}
.m-icon-pencil:before {
	content: "\e005";
}
.m-icon-droplet:before {
	content: "\e00a";
}
.m-icon-image:before {
	content: "\e00c";
}
.m-icon-image-2:before {
	content: "\e00d";
}
.m-icon-images:before {
	content: "\e00e";
}
.m-icon-headphones:before {
	content: "\e011";
}
.m-icon-play:before {
	content: "\e012";
}
.m-icon-film:before {
	content: "\e013";
}
.m-icon-camera:before {
	content: "\e014";
}
.m-icon-dice:before {
	content: "\e015";
}
.m-icon-pacman:before {
	content: "\e016";
}
.m-icon-spades:before {
	content: "\e017";
}
.m-icon-clubs:before {
	content: "\e018";
}
.m-icon-diamonds:before {
	content: "\e019";
}
.m-icon-book:before {
	content: "\e01f";
}
.m-icon-books:before {
	content: "\e020";
}
.m-icon-file:before {
	content: "\e024";
}
.m-icon-file-2:before {
	content: "\e026";
}
.m-icon-copy:before {
	content: "\e027";
}
.m-icon-copy-2:before {
	content: "\e028";
}
.m-icon-paste:before {
	content: "\e02a";
}
.m-icon-paste-2:before {
	content: "\e02b";
}
.m-icon-paste-3:before {
	content: "\e02c";
}
.m-icon-stack:before {
	content: "\e02d";
}
.m-icon-folder:before {
	content: "\e02e";
}
.m-icon-folder-open:before {
	content: "\e02f";
}
.m-icon-tag:before {
	content: "\e030";
}
.m-icon-tags:before {
	content: "\e031";
}
.m-icon-barcode:before {
	content: "\e032";
}
.m-icon-qrcode:before {
	content: "\e033";
}
.m-icon-ticket:before {
	content: "\e034";
}
.m-icon-cart:before {
	content: "\e035";
}
.m-icon-cart-2:before {
	content: "\e036";
}
.m-icon-cart-3:before {
	content: "\e037";
}
.m-icon-coin:before {
	content: "\e038";
}
.m-icon-credit:before {
	content: "\e039";
}
.m-icon-calculate:before {
	content: "\e03a";
}
.m-icon-support:before {
	content: "\e03b";
}
.m-icon-phone:before {
	content: "\e03c";
}
.m-icon-phone-hang-up:before {
	content: "\e03d";
}
.m-icon-address-book:before {
	content: "\e03e";
}
.m-icon-notebook:before {
	content: "\e03f";
}
.m-icon-envelop:before {
	content: "\e040";
}
.m-icon-location:before {
	content: "\e042";
}
.m-icon-location-2:before {
	content: "\e043";
}
.m-icon-compass:before {
	content: "\e044";
}
.m-icon-map:before {
	content: "\e045";
}
.m-icon-map-2:before {
	content: "\e046";
}
.m-icon-clock:before {
	content: "\e048";
}
.m-icon-clock-2:before {
	content: "\e049";
}
.m-icon-alarm:before {
	content: "\e04b";
}
.m-icon-stopwatch:before {
	content: "\e04d";
}
.m-icon-calendar:before {
	content: "\e04e";
}
.m-icon-calendar-2:before {
	content: "\e04f";
}
.m-icon-print:before {
	content: "\e050";
}
.m-icon-keyboard:before {
	content: "\e051";
}
.m-icon-download:before {
	content: "\e05e";
}
.m-icon-upload:before {
	content: "\e05f";
}
.m-icon-disk:before {
	content: "\e060";
}
.m-icon-flip:before {
	content: "\e064";
}
.m-icon-flip-2:before {
	content: "\e065";
}
.m-icon-bubble:before {
	content: "\e06a";
}
.m-icon-bubbles:before {
	content: "\e06b";
}
.m-icon-bubbles-2:before {
	content: "\e06c";
}
.m-icon-bubble-2:before {
	content: "\e06d";
}
.m-icon-bubbles-3:before {
	content: "\e06e";
}
.m-icon-bubbles-4:before {
	content: "\e06f";
}
.m-icon-user:before {
	content: "\e074";
}
.m-icon-user-2:before {
	content: "\e075";
}
.m-icon-quotes-left:before {
	content: "\e076";
}
.m-icon-busy:before {
	content: "\e077";
}
.m-icon-spinner:before {
	content: "\e078";
}
.m-icon-spinner-2:before {
	content: "\e079";
}
.m-icon-binoculars:before {
	content: "\e07e";
}
.m-icon-expand:before {
	content: "\e082";
}
.m-icon-contract:before {
	content: "\e083";
}
.m-icon-key:before {
	content: "\e086";
}
.m-icon-key-2:before {
	content: "\e087";
}
.m-icon-lock:before {
	content: "\e088";
}
.m-icon-unlocked:before {
	content: "\e08a";
}
.m-icon-wrench:before {
	content: "\e08b";
}
.m-icon-settings:before {
	content: "\e08c";
}
.m-icon-equalizer:before {
	content: "\e08d";
}
.m-icon-cog:before {
	content: "\e08e";
}
.m-icon-cogs:before {
	content: "\e08f";
}
.m-icon-cog-2:before {
	content: "\e090";
}
.m-icon-hammer:before {
	content: "\e091";
}
.m-icon-wand:before {
	content: "\e092";
}
.m-icon-pie:before {
	content: "\e095";
}
.m-icon-stats:before {
	content: "\e096";
}
.m-icon-bars:before {
	content: "\e097";
}
.m-icon-fire:before {
	content: "\e0a4";
}
.m-icon-lab:before {
	content: "\e0a5";
}
.m-icon-magnet:before {
	content: "\e0a6";
}
.m-icon-remove:before {
	content: "\e0a7";
}
.m-icon-remove-2:before {
	content: "\e0a8";
}
.m-icon-briefcase:before {
	content: "\e0a9";
}
.m-icon-airplane:before {
	content: "\e0aa";
}
.m-icon-truck:before {
	content: "\e0ab";
}
.m-icon-road:before {
	content: "\e0ac";
}
.m-icon-accessibility:before {
	content: "\e0ad";
}
.m-icon-target:before {
	content: "\e0ae";
}
.m-icon-lightning:before {
	content: "\e0b0";
}
.m-icon-switch:before {
	content: "\e0b1";
}
.m-icon-power-cord:before {
	content: "\e0b2";
}
.m-icon-signup:before {
	content: "\e0b3";
}
.m-icon-tree:before {
	content: "\e0b9";
}
.m-icon-cloud:before {
	content: "\e0ba";
}
.m-icon-cloud-download:before {
	content: "\e0bb";
}
.m-icon-cloud-upload:before {
	content: "\e0bc";
}
.m-icon-download-2:before {
	content: "\e0bd";
}
.m-icon-upload-2:before {
	content: "\e0be";
}
.m-icon-download-3:before {
	content: "\e0bf";
}
.m-icon-upload-3:before {
	content: "\e0c0";
}
.m-icon-globe:before {
	content: "\e0c1";
}
.m-icon-earth:before {
	content: "\e0c2";
}
.m-icon-link:before {
	content: "\e0c3";
}
.m-icon-flag:before {
	content: "\e0c4";
}
.m-icon-attachment:before {
	content: "\e0c5";
}
.m-icon-eye:before {
	content: "\e0c6";
}
.m-icon-eye-blocked:before {
	content: "\e0c7";
}
.m-icon-eye-2:before {
	content: "\e0c8";
}
.m-icon-bookmark:before {
	content: "\e0c9";
}
.m-icon-bookmarks:before {
	content: "\e0ca";
}
.m-icon-brightness-medium:before {
	content: "\e0cb";
}
.m-icon-brightness-contrast:before {
	content: "\e0cc";
}
.m-icon-contrast:before {
	content: "\e0cd";
}
.m-icon-star:before {
	content: "\e0ce";
}
.m-icon-star-2:before {
	content: "\e0cf";
}
.m-icon-star-3:before {
	content: "\e0d0";
}
.m-icon-thumbs-up:before {
	content: "\e0d4";
}
.m-icon-thumbs-up-2:before {
	content: "\e0d5";
}
.m-icon-warning:before {
	content: "\e0f4";
}
.m-icon-notification:before {
	content: "\e0f5";
}
.m-icon-info:before {
	content: "\e0f7";
}
.m-icon-info-2:before {
	content: "\e0f8";
}
.m-icon-blocked:before {
	content: "\e0f9";
}
.m-icon-cancel-circle:before {
	content: "\e0fa";
}
.m-icon-checkmark-circle:before {
	content: "\e0fb";
}
.m-icon-enter:before {
	content: "\e103";
}
.m-icon-exit:before {
	content: "\e104";
}
.m-icon-play-2:before {
	content: "\e105";
}
.m-icon-pause:before {
	content: "\e106";
}
.m-icon-stop:before {
	content: "\e107";
}
.m-icon-backward:before {
	content: "\e108";
}
.m-icon-forward:before {
	content: "\e109";
}
.m-icon-volume-high:before {
	content: "\e114";
}
.m-icon-volume-medium:before {
	content: "\e115";
}
.m-icon-volume-low:before {
	content: "\e116";
}
.m-icon-volume-mute:before {
	content: "\e117";
}
.m-icon-volume-mute-2:before {
	content: "\e118";
}
.m-icon-volume-increase:before {
	content: "\e119";
}
.m-icon-volume-decrease:before {
	content: "\e11a";
}
.m-icon-arrow-up-left:before {
	content: "\e12f";
}
.m-icon-arrow-up:before {
	content: "\e130";
}
.m-icon-arrow-up-right:before {
	content: "\e131";
}
.m-icon-arrow-right:before {
	content: "\e132";
}
.m-icon-arrow-down-right:before {
	content: "\e133";
}
.m-icon-arrow-down:before {
	content: "\e134";
}
.m-icon-arrow-down-left:before {
	content: "\e135";
}
.m-icon-arrow-left:before {
	content: "\e136";
}
.m-icon-checkbox-checked:before {
	content: "\e138";
}
.m-icon-checkbox-unchecked:before {
	content: "\e139";
}
.m-icon-checkbox-partial:before {
	content: "\e13a";
}
.m-icon-radio-checked:before {
	content: "\e13b";
}
.m-icon-radio-unchecked:before {
	content: "\e13c";
}
.m-icon-crop:before {
	content: "\e13d";
}
.m-icon-scissors:before {
	content: "\e13e";
}
.m-icon-filter:before {
	content: "\e13f";
}
.m-icon-filter-2:before {
	content: "\e140";
}
.m-icon-font:before {
	content: "\e141";
}
.m-icon-text-height:before {
	content: "\e142";
}
.m-icon-text-width:before {
	content: "\e143";
}
.m-icon-bold:before {
	content: "\e144";
}
.m-icon-underline:before {
	content: "\e145";
}
.m-icon-italic:before {
	content: "\e146";
}
.m-icon-strikethrough:before {
	content: "\e147";
}
.m-icon-omega:before {
	content: "\e148";
}
.m-icon-sigma:before {
	content: "\e149";
}
.m-icon-table:before {
	content: "\e14a";
}
.m-icon-table-2:before {
	content: "\e14b";
}
.m-icon-insert-template:before {
	content: "\e14c";
}
.m-icon-left-to-right:before {
	content: "\e14e";
}
.m-icon-right-to-left:before {
	content: "\e14f";
}
.m-icon-new-tab:before {
	content: "\e15a";
}
.m-icon-embed:before {
	content: "\e15b";
}
.m-icon-code:before {
	content: "\e15c";
}
.m-icon-console:before {
	content: "\e15d";
}
.m-icon-share:before {
	content: "\e15e";
}
.m-icon-google:before {
	content: "\e163";
}
.m-icon-google-plus:before {
	content: "\e164";
}
.m-icon-google-plus-2:before {
	content: "\e165";
}
.m-icon-google-plus-3:before {
	content: "\e166";
}
.m-icon-google-plus-4:before {
	content: "\e167";
}
.m-icon-google-drive:before {
	content: "\e168";
}
.m-icon-facebook:before {
	content: "\e169";
}
.m-icon-facebook-2:before {
	content: "\e16a";
}
.m-icon-facebook-3:before {
	content: "\e16b";
}
.m-icon-instagram:before {
	content: "\e16c";
}
.m-icon-twitter:before {
	content: "\e16d";
}
.m-icon-twitter-2:before {
	content: "\e16e";
}
.m-icon-twitter-3:before {
	content: "\e16f";
}
.m-icon-feed:before {
	content: "\e170";
}
.m-icon-feed-2:before {
	content: "\e171";
}
.m-icon-feed-3:before {
	content: "\e172";
}
.m-icon-youtube:before {
	content: "\e173";
}
.m-icon-youtube-2:before {
	content: "\e174";
}
.m-icon-vimeo:before {
	content: "\e175";
}
.m-icon-vimeo2:before {
	content: "\e176";
}
.m-icon-vimeo-2:before {
	content: "\e177";
}
.m-icon-lanyrd:before {
	content: "\e178";
}
.m-icon-flickr:before {
	content: "\e179";
}
.m-icon-flickr-2:before {
	content: "\e17a";
}
.m-icon-flickr-3:before {
	content: "\e17b";
}
.m-icon-flickr-4:before {
	content: "\e17c";
}
.m-icon-picassa:before {
	content: "\e17d";
}
.m-icon-picassa-2:before {
	content: "\e17e";
}
.m-icon-dribbble:before {
	content: "\e17f";
}
.m-icon-dribbble-2:before {
	content: "\e180";
}
.m-icon-dribbble-3:before {
	content: "\e181";
}
.m-icon-forrst:before {
	content: "\e182";
}
.m-icon-forrst-2:before {
	content: "\e183";
}
.m-icon-deviantart:before {
	content: "\e184";
}
.m-icon-deviantart-2:before {
	content: "\e185";
}
.m-icon-steam:before {
	content: "\e186";
}
.m-icon-steam-2:before {
	content: "\e187";
}
.m-icon-github:before {
	content: "\e188";
}
.m-icon-github-2:before {
	content: "\e189";
}
.m-icon-github-3:before {
	content: "\e18a";
}
.m-icon-github-4:before {
	content: "\e18b";
}
.m-icon-github-5:before {
	content: "\e18c";
}
.m-icon-wordpress:before {
	content: "\e18d";
}
.m-icon-wordpress-2:before {
	content: "\e18e";
}
.m-icon-joomla:before {
	content: "\e18f";
}
.m-icon-blogger:before {
	content: "\e190";
}
.m-icon-blogger-2:before {
	content: "\e191";
}
.m-icon-tumblr:before {
	content: "\e192";
}
.m-icon-tumblr-2:before {
	content: "\e193";
}
.m-icon-yahoo:before {
	content: "\e194";
}
.m-icon-tux:before {
	content: "\e195";
}
.m-icon-apple:before {
	content: "\e196";
}
.m-icon-finder:before {
	content: "\e197";
}
.m-icon-android:before {
	content: "\e198";
}
.m-icon-windows:before {
	content: "\e199";
}
.m-icon-windows8:before {
	content: "\e19a";
}
.m-icon-soundcloud:before {
	content: "\e19b";
}
.m-icon-soundcloud-2:before {
	content: "\e19c";
}
.m-icon-skype:before {
	content: "\e19d";
}
.m-icon-reddit:before {
	content: "\e19e";
}
.m-icon-linkedin:before {
	content: "\e19f";
}
.m-icon-lastfm:before {
	content: "\e1a0";
}
.m-icon-lastfm-2:before {
	content: "\e1a1";
}
.m-icon-delicious:before {
	content: "\e1a2";
}
.m-icon-stumbleupon:before {
	content: "\e1a3";
}
.m-icon-stumbleupon-2:before {
	content: "\e1a4";
}
.m-icon-stackoverflow:before {
	content: "\e1a5";
}
.m-icon-pinterest:before {
	content: "\e1a6";
}
.m-icon-pinterest-2:before {
	content: "\e1a7";
}
.m-icon-xing:before {
	content: "\e1a8";
}
.m-icon-xing-2:before {
	content: "\e1a9";
}
.m-icon-flattr:before {
	content: "\e1aa";
}
.m-icon-foursquare:before {
	content: "\e1ab";
}
.m-icon-foursquare-2:before {
	content: "\e1ac";
}
.m-icon-paypal:before {
	content: "\e1ad";
}
.m-icon-paypal-2:before {
	content: "\e1ae";
}
.m-icon-paypal-3:before {
	content: "\e1af";
}
.m-icon-yelp:before {
	content: "\e1b0";
}
.m-icon-libreoffice:before {
	content: "\e1b1";
}
.m-icon-file-pdf:before {
	content: "\e1b2";
}
.m-icon-file-openoffice:before {
	content: "\e1b3";
}
.m-icon-file-word:before {
	content: "\e1b4";
}
.m-icon-file-excel:before {
	content: "\e1b5";
}
.m-icon-file-zip:before {
	content: "\e1b6";
}
.m-icon-file-powerpoint:before {
	content: "\e1b7";
}
.m-icon-file-xml:before {
	content: "\e1b8";
}
.m-icon-file-css:before {
	content: "\e1b9";
}
.m-icon-html5:before {
	content: "\e1ba";
}
.m-icon-html5-2:before {
	content: "\e1bb";
}
.m-icon-css3:before {
	content: "\e1bc";
}
.m-icon-chrome:before {
	content: "\e1bd";
}
.m-icon-firefox:before {
	content: "\e1be";
}
.m-icon-IE:before {
	content: "\e1bf";
}
.m-icon-opera:before {
	content: "\e1c0";
}
.m-icon-safari:before {
	content: "\e1c1";
}
.m-icon-phone-2:before {
	content: "\e1c2";
}
.m-icon-mobile:before {
	content: "\e1c3";
}
.m-icon-directions:before {
	content: "\e1c5";
}
.m-icon-mail:before {
	content: "\e1c6";
}
.m-icon-paperplane:before {
	content: "\e1c7";
}
.m-icon-feather:before {
	content: "\e1c9";
}
.m-icon-paperclip:before {
	content: "\e1ca";
}
.m-icon-reply:before {
	content: "\e1cc";
}
.m-icon-reply-all:before {
	content: "\e1cd";
}
.m-icon-forward-2:before {
	content: "\e1ce";
}
.m-icon-vcard:before {
	content: "\e1d2";
}
.m-icon-export:before {
	content: "\e1d3";
}
.m-icon-map-3:before {
	content: "\e1d5";
}
.m-icon-compass-2:before {
	content: "\e1d6";
}
.m-icon-location-3:before {
	content: "\e1d7";
}
.m-icon-target-2:before {
	content: "\e1d8";
}
.m-icon-share-2:before {
	content: "\e1d9";
}
.m-icon-sharable:before {
	content: "\e1da";
}
.m-icon-heart:before {
	content: "\e1db";
}
.m-icon-heart-2:before {
	content: "\e1dc";
}
.m-icon-chat:before {
	content: "\e1e1";
}
.m-icon-comment:before {
	content: "\e1e2";
}
.m-icon-quote:before {
	content: "\e1e3";
}
.m-icon-popup:before {
	content: "\e1e5";
}
.m-icon-search:before {
	content: "\e1e6";
}
.m-icon-printer:before {
	content: "\e1e8";
}
.m-icon-link-2:before {
	content: "\e1ea";
}
.m-icon-flag-2:before {
	content: "\e1eb";
}
.m-icon-cog-3:before {
	content: "\e1ec";
}
.m-icon-tools:before {
	content: "\e1ed";
}
.m-icon-tag-2:before {
	content: "\e1ef";
}
.m-icon-camera-2:before {
	content: "\e1f0";
}
.m-icon-megaphone:before {
	content: "\e1f1";
}
.m-icon-moon:before {
	content: "\e1f2";
}
.m-icon-palette:before {
	content: "\e1f3";
}
.m-icon-leaf:before {
	content: "\e1f4";
}
.m-icon-music:before {
	content: "\e1f5";
}
.m-icon-music-2:before {
	content: "\e1f6";
}
.m-icon-graduation:before {
	content: "\e1f8";
}
.m-icon-airplane-2:before {
	content: "\e1fc";
}
.m-icon-eye-3:before {
	content: "\e1fe";
}
.m-icon-clock-3:before {
	content: "\e1ff";
}
.m-icon-microphone:before {
	content: "\e200";
}
.m-icon-calendar-3:before {
	content: "\e201";
}
.m-icon-bolt:before {
	content: "\e202";
}
.m-icon-thunder:before {
	content: "\e203";
}
.m-icon-cd:before {
	content: "\e205";
}
.m-icon-briefcase-2:before {
	content: "\e206";
}
.m-icon-battery:before {
	content: "\e20d";
}
.m-icon-bucket:before {
	content: "\e20e";
}
.m-icon-suitcase:before {
	content: "\e214";
}
.m-icon-earth-2:before {
	content: "\e216";
}
.m-icon-keyboard-2:before {
	content: "\e217";
}
.m-icon-browser:before {
	content: "\e218";
}
.m-icon-publish:before {
	content: "\e219";
}
.m-icon-progress-3:before {
	content: "\e21a";
}
.m-icon-progress-2:before {
	content: "\e21b";
}
.m-icon-brogress-1:before {
	content: "\e21c";
}
.m-icon-progress-0:before {
	content: "\e21d";
}
.m-icon-sun:before {
	content: "\e21e";
}
.m-icon-sun-2:before {
	content: "\e21f";
}
.m-icon-adjust:before {
	content: "\e220";
}
.m-icon-code-2:before {
	content: "\e221";
}
.m-icon-screen:before {
	content: "\e222";
}
.m-icon-infinity:before {
	content: "\e223";
}
.m-icon-light-bulb:before {
	content: "\e224";
}
.m-icon-credit-card:before {
	content: "\e225";
}
.m-icon-voicemail:before {
	content: "\e227";
}
.m-icon-cart-4:before {
	content: "\e229";
}
.m-icon-rss:before {
	content: "\e22c";
}
.m-icon-signal:before {
	content: "\e22d";
}
.m-icon-statistics:before {
	content: "\e231";
}
.m-icon-pie-2:before {
	content: "\e232";
}
.m-icon-bars-2:before {
	content: "\e233";
}
.m-icon-graph:before {
	content: "\e234";
}
.m-icon-lock-2:before {
	content: "\e235";
}
.m-icon-lock-open:before {
	content: "\e236";
}
.m-icon-minus:before {
	content: "\e23b";
}
.m-icon-plus:before {
	content: "\e23c";
}
.m-icon-cross:before {
	content: "\e23d";
}
.m-icon-minus-2:before {
	content: "\e23e";
}
.m-icon-plus-2:before {
	content: "\e23f";
}
.m-icon-cross-2:before {
	content: "\e240";
}
.m-icon-erase:before {
	content: "\e243";
}
.m-icon-blocked-2:before {
	content: "\e244";
}
.m-icon-info-3:before {
	content: "\e245";
}
.m-icon-info-4:before {
	content: "\e246";
}
.m-icon-question:before {
	content: "\e247";
}
.m-icon-help:before {
	content: "\e248";
}
.m-icon-warning-2:before {
	content: "\e249";
}
.m-icon-cycle:before {
	content: "\e24a";
}
.m-icon-cw:before {
	content: "\e24b";
}
.m-icon-ccw:before {
	content: "\e24c";
}
.m-icon-history:before {
	content: "\e252";
}
.m-icon-disk-2:before {
	content: "\e266";
}
.m-icon-install:before {
	content: "\e267";
}
.m-icon-play-3:before {
	content: "\e26d";
}
.m-icon-pause-2:before {
	content: "\e26e";
}
.m-icon-record:before {
	content: "\e26f";
}
.m-icon-stop-2:before {
	content: "\e270";
}
.m-icon-next:before {
	content: "\e271";
}
.m-icon-previous:before {
	content: "\e272";
}
.m-icon-first:before {
	content: "\e273";
}
.m-icon-last:before {
	content: "\e274";
}
.m-icon-arrow-left-2:before {
	content: "\e287";
}
.m-icon-arrow-down-2:before {
	content: "\e288";
}
.m-icon-arrow-up-2:before {
	content: "\e289";
}
.m-icon-arrow-right-2:before {
	content: "\e28a";
}
.m-icon-ellipsis:before {
	content: "\e2a0";
}
.m-icon-dots:before {
	content: "\e2a1";
}
.m-icon-dot:before {
	content: "\e2a2";
}
.m-icon-pinterest-3:before {
	content: "\e2bd";
}
.m-icon-qq:before {
	content: "\e2cd";
}
.m-icon-evernote:before {
	content: "\e2d0";
}
.m-icon-renren:before {
	content: "\e2d4";
}
.m-icon-sina-weibo:before {
	content: "\e2d5";
}
.m-icon-skype-2:before {
	content: "\e2d3";
}
.m-icon-smashing:before {
	content: "\e2dd";
}
.m-icon-checkmark:before {
	content: "\e007";
}
.m-icon-x:before {
	content: "\e029";
}
.m-icon-plus-alt:before {
	content: "\e05a";
}
.m-icon-minus-alt:before {
	content: "\e05b";
}
.m-icon-check-alt:before {
	content: "\e089";
}
.m-icon-x-altx-alt:before {
	content: "\e0d6";
}
.m-icon-plus-3:before {
	content: "\e0d7";
}
.m-icon-minus-3:before {
	content: "\e0d8";
}
.m-icon-eject:before {
	content: "\e113";
}
.m-icon-pilcrow:before {
	content: "\e14d";
}
.m-icon-upload-4:before {
	content: "\e269";
}
.m-icon-star-4:before {
	content: "\e1dd";
}
.m-icon-star-5:before {
	content: "\e1de";
}
.m-icon-lifebuoy:before {
	content: "\e1fd";
}
.m-icon-arrow-left-3:before {
	content: "\f060";
}
.m-icon-arrow-right-3:before {
	content: "\f061";
}
.m-icon-arrow-up-3:before {
	content: "\f062";
}
.m-icon-arrow-down-3:before {
	content: "\f063";
}
.m-icon-caret-down:before {
	content: "\f0d7";
}
.m-icon-caret-up:before {
	content: "\f0d8";
}
.m-icon-caret-left:before {
	content: "\f0d9";
}
.m-icon-caret-right:before {
	content: "\f0da";
}
.m-icon-double-angle-left:before {
	content: "\f100";
}
.m-icon-double-angle-right:before {
	content: "\f101";
}
.m-icon-double-angle-up:before {
	content: "\f102";
}
.m-icon-double-angle-down:before {
	content: "\f103";
}
.m-icon-angle-left:before {
	content: "\f104";
}
.m-icon-angle-right:before {
	content: "\f105";
}
.m-icon-angle-up:before {
	content: "\f106";
}
.m-icon-sort:before {
	content: "\f0dc";
}
.m-icon-sort-down:before {
	content: "\f0dd";
}
.m-icon-sort-up:before {
	content: "\f0de";
}
.m-icon-angle-down:before {
	content: "\f107";
}
.m-icon-plus-4:before {
	content: "\f067";
}
.m-icon-minus-4:before {
	content: "\f068";
}
.m-icon-chevron-left:before {
	content: "\f053";
}
.m-icon-chevron-right:before {
	content: "\f054";
}
.m-icon-chevron-up:before {
	content: "\f077";
}
.m-icon-chevron-down:before {
	content: "\f078";
}
.m-icon-spinner-3:before {
	content: "\e07c";
}
.m-icon-user-3:before {
	content: "\e1cf";
}
.m-icon-users:before {
	content: "\e1d0";
}
.m-icon-user-add:before {
	content: "\e1d1";
}
.m-icon-screen-2:before {
	content: "\e052";
}
.m-icon-laptop:before {
	content: "\e053";
}
.m-icon-mobile-2:before {
	content: "\e054";
}
.m-icon-mobile-3:before {
	content: "\e055";
}
.m-icon-tablet:before {
	content: "\e056";
}
.m-icon-pawn:before {
	content: "\e01a";
}
.m-icon-fullscreen:before {
	content: "\f0b2";
}
